html
  head
    title= "Brexit Policy Generator: "+message
    link(rel='stylesheet', href='/style/main.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    meta(property="og:url" content="http://brexit.greenwood.io/")
    meta(property="og:image" content="http://brexit.greenwood.io/img/bg.jpg")
    meta(property="og:title" content="The Brexit Policy Generator")
    meta(property="fb:app_id" content="1874524392804097")
  body
    div(class="main")
      div(class="content-box")
        p="Your Brexit policy is..."
        h1= message
        a(class="button", href="/") Generate
      div(class="social-box")
        a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text="+encoded,data-size="small") Tweet
        div(class="fb-share-button", data-href="http://brexit.greenwood.io", data-layout="button_count", data-size="small", data-mobile-iframe="true")
            a(class="fb-xfbml-parse-ignore", target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbrexit.greenwood.io%2Fi%2F"+hash+"%2F&amp;src=sdkpreparse") Share

    div(class="footer") Created with an image from <a href="http://www.publicdomainpictures.net/pictures/190000/velka/united-kingdom-flag-1468580123n1l.jpg" target="_blank">here</a> and a dictionary from <a href="https://wordnet.princeton.edu/" target="_blank">here</a>.
    //Twitter scripts
    script.
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));

    //Facebook
    div(id="fb-root")
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1874524392804097";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));